<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/assets/app.css')

        title pug
    body
        .header
            .header__1 header

        .main
            .main__1 main

        .footer
            .footer__col-1 footer1
                
            .footer__col-2 footer